bottle==0.12.13
bottle_session==0.8
bottle_sqlalchemy==0.4.3
bottle_react==0.7.1
bottle_beaker==0.1.3
psycopg2==2.7.3.2
bcrypt==3.1.4
pytvmaze==2.0.8
awesome-slugify==1.6.5
tornado==4.5.3
python-dateutil==2.6.1
simplejson==3.11.1
